# Data transformation

## 3.1 Introduction

Visualization is an important tool for generating insight, but it’s rare that you get the data in exactly the right form you need to make the graph you want. Often you’ll need to create some new variables or summaries to answer your questions with your data, or maybe you just want to rename the variables or reorder the observations to make the data a little easier to work with.

**data transformation using the dplyr package**

flights is a **tibble**, a special type of data frame used by the tidyverse to avoid some common gotchas. The most important difference between tibbles and data frames is the way tibbles print; they are designed for large datasets, so they only show the first few rows and only the columns that fit on one screen.

### 3.1.3 dplyr basics

The first argument is always a **data frame**.

The subsequent arguments typically describe **which columns to operate on** using the variable names (without quotes).

The output is always a **new data frame**.

Because each verb does one thing well, solving complex problems will usually require combining multiple verbs, and we’ll do so with **the pipe, |>**. The pipe takes the thing on its left and passes it along to the function on its right so that x |> f(y) is equivalent to f(x, y), and x |> f(y) |> g(z) is equivalent to g(f(x, y), z). The easiest way to pronounce the pipe is **“then”**.

dplyr’s verbs are organized into four groups based on what they operate on: **rows, columns, groups, or tables**.

In [1]:
# dataset on 336,776 flights that departed from New York City in 2013.
library(nycflights13)
library(tidyverse)
?flights
#View(flights) # opens an interactive, scrollable, and filterable view
#print(flights, width = Inf) # to show all columns
#glimpse()

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

flights              package:nycflights13              R Documentation

_F_l_i_g_h_t_s _d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     On-time data for all flights that departed NYC (i.e. JFK, LGA or
     EWR) in 2013.

_U_s_a_g_e:

     flights

_F_o_r_m_a_t:

     Data frame with columns

     year, month, day Date of departure.

     dep_time, arr_time Actual departure and arrival times (format HHMM
          or HMM), local tz.

     sched_dep_time, sched_arr_time Scheduled departure and arrival
          times (format HHMM or HMM), local tz.

     dep_delay, arr_delay Departure and arrival delays, in minutes.
          Negative times represent early departures/arrivals.

     carrier Two letter carrier abbreviation. See ‘airlines’ to get
          name.

     flight Flight number.

     tailnum Plane tail number. See ‘planes’ for additional metadata.

     origin, dest Origin and destination. See ‘airports’ for additional
          metadata.

     air_time Amount of time spent in the air, in minutes.

     distance Distance between airports, in miles.

     hour, minute Time of scheduled departure broken into hour and
          minutes.

     time_hour Scheduled date and hour of the flight as a ‘POSIXct’
          date. Along with ‘origin’, can be used to join flights data
          to ‘weather’ data.

_S_o_u_r_c_e:

     RITA, Bureau of transportation statistics,
     <https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236>

## 3.2 Rows

The most important verbs that operate on rows of a dataset are **filter()**, which changes which rows are present without changing their order, and **arrange()**, which changes the order of the rows without changing which are present.

Both functions only affect the rows, and the columns are left unchanged. Also, **distinct()** which finds rows with unique values. Unlike arrange() and filter() it can also optionally modify the columns.

### 3.2.1 filter()

filter() allows you to keep rows based on the values of the columns. The first argument is the data frame. The second and subsequent arguments are the conditions that must be true to keep the row.

When you run filter() dplyr executes the filtering operation, creating a new data frame, and then prints it. It doesn’t modify the existing flights dataset because **dplyr functions never modify their inputs**.

*Flights that departed more than 120 minutes (two hours) late*

`flights |> 
  filter(dep_delay > 120)`

*Flights that departed on January 1*

`flights |> 
  filter(month == 1 & day == 1)`

*Flights that departed in January or February*

`flights |> 
  filter(month == 1 | month == 2)`

*Flights that departed in January or February*

`flights |> 
  filter(month %in% c(1, 2))`

`jan1 <- flights |> 
  filter(month == 1 & day == 1)`

### 3.2.3 arrange() 

arrange() changes the order of the rows based on the value of the columns. It takes a data frame and a set of column names (or more complicated expressions) to order by. If you provide more than one column name, each additional column will be used to break ties in the values of the preceding columns.

*Sorts by the departure time, which is spread over four columns.
We get the earliest years first, then within a year, the earliest months, etc.*

`flights |> 
  arrange(year, month, day, dep_time)`

`flights |> 
  arrange(desc(dep_delay))`

### 3.2.4 distinct() 

distinct() finds all the **unique rows** in a dataset, so technically, it primarily operates on the rows. Most of the time, however, you’ll want the distinct combination of some variables, so you can also optionally supply column names.

*Remove duplicate rows, if any*

`flights |> 
  distinct()`

*Find all unique origin and destination pairs*

`flights |> 
  distinct(origin, dest)`

*Alternatively, if you want to keep the other columns when filtering for unique rows, you can use the **.keep_all = TRUE** option.*

`flights |> 
  distinct(origin, dest, .keep_all = TRUE)`

It’s not a coincidence that all of these distinct flights are on January 1: distinct() will find the first occurrence of a unique row in the dataset and discard the rest.

If you want to find the number of occurrences instead, you’re better off swapping distinct() for **count()**. With the **sort = TRUE** argument, you can arrange them in descending order of the number of occurrences.

`flights |>
  count(origin, dest, sort = TRUE)`

### 3.2.5 Exercises

1. In a single pipeline for each condition, find all flights that meet the condition:

- Had an arrival delay of two or more hours
- Flew to Houston (IAH or HOU)
- Were operated by United, American, or Delta
- Departed in summer (July, August, and September)
- Arrived more than two hours late but didn’t leave late
- Were delayed by at least an hour, but made up over 30 minutes in flight

In [2]:
# Had an arrival delay of two or more hours
flights |>
  filter(arr_delay >= 120) |>
  arrange(desc(arr_delay)) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00

In [3]:
# Flew to Houston (IAH or HOU)
flights |>
  filter(dest %in% c("IAH", "HOU")) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   623      627            -4         933      932
4 2013 1     1   728      732            -4        1041     1038
5 2013 1     1   739      739             0        1104     1038
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3  1        UA       496   N459UA  LGA    IAH  229      1416     6    27
4  3        UA       473   N488UA  LGA    IAH  238      1416     7    32
5 26        UA      1479   N37408  EWR    IAH  249      1400     7    39
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 06:00:00
4 2013-01-01 07:00:00
5 2013-01-01 07:00:00

In [4]:
# Were operated by United, American, or Delta
flights |>
  filter(carrier %in% c("UA", "AA", "DL")) |>
  head(n = 5)
# airlines

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2        830      819
2 2013 1     1   533      529             4        850      830
3 2013 1     1   542      540             2        923      850
4 2013 1     1   554      600            -6        812      837
5 2013 1     1   554      558            -4        740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
5  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 06:00:00
5 2013-01-01 05:00:00

In [5]:
# Departed in summer (July, August, and September)
flights |>
  filter(month %in% c(7, 8, 9)) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     1    1       2029           212       236      2359
2 2013 7     1    2       2359             3       344       344
3 2013 7     1   29       2245           104       151         1
4 2013 7     1   43       2130           193       322        14
5 2013 7     1   44       2150           174       300       100
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 157       B6       915   N653JB  JFK    SFO  315      2586     20   29
2   0       B6      1503   N805JB  JFK    SJU  200      1598     23   59
3 110       B6       234   N348JB  JFK    BTV   66       266     22   45
4 188       B6      1371   N794JB  LGA    FLL  143      1076     21   30
5 120       AA       185   N324AA  JFK    LAX  297      2475     21   50
  time_hour
1 2013-07-01 20:00:00
2 2013-07-01 23:00:00
3 2013-07-01 22:00:00
4 2013-07-01 21:00:00
5 2013-07-01 21:00:00

In [6]:
# Arrived more than two hours late but didn’t leave late
flights |>
  filter(arr_delay > 120 & dep_delay == 0) |>
  arrange(desc(arr_delay))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  7     1   905      905           0         1443     1223
2 2013 10     7  1350     1350           0         1736     1526
3 2013  5    23  1810     1810           0         2208     2000
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 140       DL      1057   N337NB  LGA    MIA  183      1096      9    5
2 130       EV      5181   N611QX  LGA    MSN  117       812     13   50
3 128       MQ      4626   N525MQ  LGA    CMH   82       479     18   10
  time_hour
1 2013-07-01 09:00:00
2 2013-10-07 13:00:00
3 2013-05-23 18:00:00

In [7]:
# Were delayed by at least an hour, but made up over 30 minutes in flight
flights |>
  filter(dep_delay >= 60 & dep_delay - arr_delay > 30) |>
  arrange(desc(dep_delay)) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 6     27   959     1900           899       1236     2226
2 2013 5     16  2233     1340           533         59     1640
3 2013 8     21    48     1620           508        251     1902
4 2013 6     24   159     1735           504        432     2108
5 2013 3      8  1600      810           470       1759     1043
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 850       DL      2007   N3762Y  JFK    PDX  313      2454     19    0
2 499       AA       753   N3ERAA  LGA    DFW  184      1389     13   40
3 469       DL       843   N184DN  JFK    ATL   99       760     16   20
4 444       DL      1543   N727TW  JFK    SEA  307      2422     17   35
5 436       FL       361   N987AT  LGA    ATL  101       762      8   10
  time_hour
1 2013-06-27 19:00:00
2 2013-05-16 13:00:00
3 2013-08-21 16:00:00
4 2013-06-24 17:00:00
5 2013-03-08 08:00:00

In [8]:
# 2. Sort flights to find the flights with the longest departure delays.
# Find the flights that left earliest in the morning#.

flights |>
  arrange(desc(dep_delay)) |>
  head(n = 5)

flights |>
  arrange(dep_time) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    13  1        2249            72       108      2357
2 2013  1    31  1        2100           181       124      2225
3 2013 11    13  1        2359             2       442       440
4 2013 12    16  1        2359             2       447       437
5 2013 12    20  1        2359             2       430       440
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  71       B6        22   N206JB  JFK    SYR   41       209     22   49
2 179       WN       530   N550WN  LGA    MDW  127       725     21    0
3   2       B6      1503   N627JB  JFK    SJU  194      1598     23   59
4  10       B6       839   N607JB  JFK    BQN  202      1576     23   59
5 -10       B6      1503   N608JB  JFK    SJU  182      1598     23   59
  time_hour
1 2013-01-13 22:00:00
2 2013-01-31 21:00:00
3 2013-11-13 23:00:00
4 2013-12-16 23:00:00
5 2013-12-20 23:00:00

In [9]:
# 3. Sort flights to find the fastest flights.
# (Hint: Try including a math calculation inside of your function.)
flights |>
  arrange(desc(distance / air_time)) |>
  head(n = 5)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 5     25  1709     1700            9        1923     1937
2 2013 7      2  1558     1513           45        1745     1719
3 2013 5     13  2040     2025           15        2225     2226
4 2013 3     23  1914     1910            4        2045     2043
5 2013 1     12  1559     1600           -1        1849     1917
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       DL      1499   N666DN  LGA    ATL   65       762     17    0
2  26       EV      4667   N17196  EWR    MSP   93      1008     15   13
3  -1       EV      4292   N14568  EWR    GSP   55       594     20   25
4   2       EV      3805   N12567  EWR    BNA   70       748     19   10
5 -28       DL      1902   N956DL  LGA    PBI  105      1035     16    0
  time_hour
1 2013-05-25 17:00:00
2 2013-07-02 15:00:00
3 2013-05-13 20:00:00
4 2013-03-23 19:00:00
5 2013-01-12 16:00:00

In [10]:
# 4. Was there a flight on every day of 2013?
flights |>
  distinct(year, month, day) |>
  count()
# yes.

  n
1 365

In [11]:
# 5. Which flights traveled the farthest distance? Which traveled the least distance?
flights |>
  arrange(desc(distance)) |>
  head(n = 1)

flights |>
  arrange(distance) |>
  head(n = 1)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   857      900            -3        1516     1530
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       HA      51     N380HA  JFK    HNL  659      4983     9    0
  time_hour
1 2013-01-01 09:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     27  NA       106            NA        NA       245
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        US      1632   NA      EWR    LGA  NA       17       1    6
  time_hour
1 2013-07-27 01:00:00

In [12]:
# 6. Does it matter what order you used filter() and arrange() if you’re using both?
# Why/why not? Think about the results and
# how much work the functions would have to do.

# no, it does not matter the order of usage.